.cart {
    color:greenyellow;
}

.link {
    text-decoration: none;
    color:white;
    margin-right: .8rem;
}

.link:hover {
    color:greenyellow;
}

.countCarrito {
    max-width: 30%;
    display:flex;
    justify-content: space-evenly;
}